In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
import re
from scipy.stats import binom,poisson,expon,norm

In [ ]:
file_path = r'C:\Users\LENOVO YOGA X380\Desktop\ML\Miscellaneous\Bank_Transaction_Fraud_Detection.csv.xlsx'
df = pd.read_excel(file_path)

In [4]:
# data inspection
#print(df.head(10)) # display first 10 rows
#print(df.info()) # get summary of the dataframe
#print(df.describe()) # get statistical summary
#print(df.isnull().sum()) # check for missing values
print(df.columns) # get the field names
#print(df.duplicated(keep='first')) # checking duplicated rows

Index(['Customer_ID', 'Customer_Name', 'Gender', 'Age', 'State', 'City',
       'Bank_Branch', 'Account_Type', 'Transaction_ID', 'Transaction_Date',
       'Transaction_Time', 'Transaction_Amount', 'Merchant_ID',
       'Transaction_Type', 'Merchant_Category', 'Account_Balance',
       'Transaction_Device', 'Transaction_Location', 'Device_Type', 'Is_Fraud',
       'Transaction_Currency', 'Customer_Contact', 'Transaction_Description',
       'Customer_Email'],
      dtype='object')

In [7]:
# data cleaning
df = df.drop_duplicates(keep='first') # removing duplicated rows
df = df.dropna() # removing rows with missing values
#print(df.info()) # verify cleaning
#print(df.isnull().sum()) # verify no missing values
df = df.reset_index(drop=True) # reset index after cleaning
df['Transaction_Amount'] = pd.to_numeric(df['Transaction_Amount'], errors='coerce')
df = df.dropna(subset=['Transaction_Amount']) # drop rows where conversion failed
# fill any remaining NaN values

In [13]:
# memory optimization
for col in df.select_dtypes(include=['float64']).columns:
    df[col] = pd.to_numeric(df[col], downcast='float')
for col in df.select_dtypes(include=['int64']).columns:
    df[col] = pd.to_numeric(df[col], downcast='integer')
print(df.memory_usage(deep=True))
df['Transaction_Amount'] = df['Transaction_Amount'].astype('float32')
print(df.Transaction_Amount)

Index                           132
Customer_ID                17000000
Customer_Name              12324990
Gender                     10799096
Age                          200000
State                      11898313
City                       11317435
Bank_Branch                12717435
Account_Type               11333407
Transaction_ID             17000000
Transaction_Date           11560078
Transaction_Time            9600000
Transaction_Amount           800000
Merchant_ID                17000000
Transaction_Type           11439204
Merchant_Category          11701333
Account_Balance             1600000
Transaction_Device         12675427
Transaction_Location       13815748
Device_Type                10749374
Is_Fraud                     200000
Transaction_Currency       10400000
Customer_Contact           12600000
Transaction_Description    13380196
Customer_Email             13984743
dtype: int64
0         32415.449219
1         43622.601562
2         63062.558594
3         14000.719727
4         18335.160156
              ...
199995    98513.742188
199996    40593.550781
199997    61579.699219
199998    39488.218750
199999    58622.488281
Name: Transaction_Amount, Length: 200000, dtype: float32

In [ ]:
# to prove to them
file_loc = r'C:\Users\LENOVO YOGA X380\Desktop\ML\Miscellaneous\Private_data.csv'
file = pd.read_csv(file_loc)
#file.columns
file_new = file.drop('Unnamed: 0',axis=1)
print(file_new)
file_fields = file.columns
#print(file_fields)
#subjects = file_fields[2:]
#grouped_data = file.groupby([])[subjects].agg(['sum','mean','median','std'])
#grouped_data = grouped_data.reset_index()
#print(grouped_data)

    NAME OF THE STUDENT                                        UNIVERSITY  \
0           Camila Wood                          Stanford University, USA
1    Alexander Thompson                          Stanford University, USA
2           Liam Taylor                           Harvard University, USA
3        Evelyn Jenkins                          Stanford University, USA
4       Michael Jackson                           Harvard University, USA
..                  ...                                               ...
146         Avery Lewis                          Stanford University, USA
147        Ethan Martin                          Stanford University, USA
148  Nicholas Rodriguez                           Harvard University, USA
149        Samuel Perez                          Stanford University, USA
150           Emily Lee  Massachusetts Institute of Technology (MIT), USA

    PROGRAM NAME          Specialisation SEMESTER   Domain  \
0          B.Com                 Honours      5th  Finance
1          B.Com      Financial Services      5th  Finance
2          B.Com    Accounting Analytics      5th       BA
3          B.Com                 Honours      5th  Finance
4            MBA  International Business      3rd       IB
..           ...                     ...      ...      ...
146          BBA      Financial Services      5th  Finance
147          BBA  International Business      5th  Generic
148          MBA  International Business      3rd       IB
149          BBA  International Business      5th       IB
150          BBA       Digital Marketing      5th       DM

     GENERAL MANAGEMENT SCORE (OUT of 50)  Domain Specific SCORE (OUT 50)  \
0                                      50                              50
1                                      50                              50
2                                      50                              50
3                                      49                              50
4                                      50                              49
..                                    ...                             ...
146                                    16                              12
147                                    11                              13
148                                    16                               8
149                                    12                               8
150                                     4                               1

     TOTAL SCORE (OUT of 100)  RANK  PERCENTILE
0                         100     1    1.000000
1                         100     2    0.993377
2                         100     3    0.986755
3                          99     4    0.980132
4                          99     5    0.973510
..                        ...   ...         ...
146                        28   147    0.033113
147                        24   148    0.026490
148                        24   149    0.019868
149                        20   150    0.013245
150                         5   151    0.006623

[151 rows x 11 columns]

In [36]:
print(file_new.describe())
print('\n')
print(file_new.info())
print(file_new.sort_values(by=['GENERAL MANAGEMENT SCORE (OUT of 50)','Domain Specific SCORE (OUT 50)','TOTAL SCORE (OUT of 100)'],axis=1,ascending=[False,False,False]))

       GENERAL MANAGEMENT SCORE (OUT of 50)  Domain Specific SCORE (OUT 50)  \
count                            151.000000                      151.000000
mean                              37.993377                       33.635762
std                               10.734056                       11.866751
min                                4.000000                        1.000000
25%                               32.500000                       27.000000
50%                               40.000000                       36.000000
75%                               47.000000                       43.000000
max                               50.000000                       50.000000

       TOTAL SCORE (OUT of 100)        RANK  PERCENTILE
count                151.000000  151.000000  151.000000
mean                  71.629139   76.000000    0.503311
std                   21.200823   43.734045    0.289629
min                    5.000000    1.000000    0.006623
25%                   62.000000   38.500000    0.254967
50%                   74.000000   76.000000    0.503311
75%                   89.000000  113.500000    0.751656
max                  100.000000  151.000000    1.000000


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   NAME OF THE STUDENT                   151 non-null    object
 1   UNIVERSITY                            151 non-null    object
 2   PROGRAM NAME                          151 non-null    object
 3   Specialisation                        151 non-null    object
 4   SEMESTER                              151 non-null    object
 5   Domain                                151 non-null    object
 6   GENERAL MANAGEMENT SCORE (OUT of 50)  151 non-null    int64
 7   Domain Specific SCORE (OUT 50)        151 non-null    int64
 8   TOTAL SCORE (OUT of 100)              151 non-null    int64
 9   RANK                                  151 non-null    int64
 10  PERCENTILE                            151 non-null    float64
dtypes: float64(1), int64(4), object(6)
memory usage: 13.1+ KB
None

KeyError: 'GENERAL MANAGEMENT SCORE (OUT of 50)'